/* DEPOIMENTOS */


.depoimentos{
    width: 100vw;
    height: 90vh;
}
.depoimentos_titulo{
    text-align: center;
}
.carrosel_depoimentos{
    width: 100%;
    height: 100%;
}
.container_depoimentos{
    position: absolute;
    width: 100vw;
    overflow:hidden;
}
.mascara_depoimentos{
    transition: .6s;
    width: 100vw;
    height: 85vh;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.container__depoimentos--ul{
    display: flex;
    width: 166.65%;
    height: 85vh;
    
}
.container__depoimentos--li{
    width: 33.33%;
    height: 100%;
    position: relative;
    
    animation-play-state: running;
    transition: all .3s ease-in-out;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
@keyframes slide_img_depoimentos{
    0%{left: 0vw}
    11.1%{left: 0vw}
    22.2%{left: -100vw}
    33.3%{left: -100vw}
    44.4%{left: -200vw}
    55.5%{left: -200vw}
    66.6%{left: -300vw}
    77.7%{left: -300vw}
    88.8%{left: -400vw}
    100%{left: -400vw}
}
.depoimentos_img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.depoimentos_txt{
    margin-top: -40%;
    width: 50%;
    
}

