@font-face {
    font-family: 'index';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
*{
    font-family: 'index';
   /*outline: 1px solid #f00 !important;*/
}
body::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #fce42e;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.nav-link{
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}
.nav-link.active{
    border-radius: 2px;
    border-bottom: 2px solid yellow;
}

.nav-link:hover{
    color: #fce42e;
    
}

.nav-link-social:hover{
    transform: scale(1.1);
}
#nav-li-matricula{
    background-color: #fce42e;
    color: #0556a9;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24);
    transition: .1s;
    width: fit-content;
    text-shadow: none;
}
#nav-li-matricula:hover{
    background-color: white;
    transform: translateY(-3px);
}
.default-btn{
    background-color: #0556a9;
    color: White;
    border: none;
    font-size: .8rem;
    transition: .2s;
}
.default-btn:hover{
    transform: translateY(-3px);
    background-color: #b0d5fc;
    color: #0556a9;
}
#nav-li-a-matricula{
    color: #0556a9;
}

#section-nav  h1{
    color: rgb(91,79,53);
    font-size: 1rem;
}
.img-container-hover{
    transition: .3s;
}
.img-container-hover:hover{
    transform: scale(1.1);
}
.background-pattern{
    background-image: url(../img/backgrounds/Novo\ BG\ Sem\ Cor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.7vw;
    position: absolute;
}

































@media (min-width:2700px) and (max-width:3000px){
	/*2850*/
    .navbar-collapse{
        padding-right: 4rem;
    }
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 75vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 60vh;
    }
    #segmentos .carousel-inner{
        height: 60vh;
    }
    #segmentos .img-container{
        width: 32%;
    }
    #segmentos h1{
        font-size: 2rem;
    }
    #section-matriculas{
        height: 75vh;
    }
    
    #section-matriculas .img-container{
        width: 50%;
    }
    #section-matriculas p{
        font-size: 1.6rem;
    }
    #section-matriculas #matriculas-btn{
        width: 30%;
        font-size: 1.4rem;
    }
    #section-equipe{
        height: 90vh;
    }
    #section-equipe p{
        font-size: 1.6rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.4rem;
    }
    #section-parceiros{
        height: 40vh;
    }
    #section-parceiros p{
        padding: 0 55rem;
        font-size: 1.4rem;
    }
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.4rem;
    }
    #section-loc-h2{
        font-size: 2.6rem;
    }
    #section-loc-p{
        font-size: 1.8rem;
    }
    .footer-title{
        font-size: 1.4rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .9rem;
    }
}





@media (min-width:2400px) and (max-width:2699px){
	/*2550*/
    .navbar-collapse{
        padding-right: 4rem;
    }
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 75vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 60vh;
    }
    #segmentos .carousel-inner{
        height: 60vh;
    }
    #segmentos .img-container{
        width: 28%;
    }
    #segmentos h1{
        font-size: 1.8rem;
    }
    #section-matriculas{
        height: 85vh;
    }
    #section-matriculas .img-container{
        width: 50%;
    }
    #section-matriculas p{
        font-size: 1.6rem;
    }
    #section-matriculas #matriculas-btn{
        width: 30%;
        font-size: 1.4rem;
    }
    #section-equipe{
        height: 90vh;
    }
    #section-equipe p{
        font-size: 1.4rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.2rem;
    }
    #section-parceiros{
        height: 50vh;
    }
    #section-parceiros p{
        padding: 0 45rem;
        font-size: 1.2rem;
    }
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.2rem;
    }
    #section-loc-h2{
        font-size: 2.6rem;
    }
    #section-loc-p{
        font-size: 1.8rem;
    }
    .footer-title{
        font-size: 1.4rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .9rem;
    }
}





@media (min-width:2100px) and (max-width:2399px){
	/*2250*/
    .navbar-collapse{
        padding-right: 3.5rem;
    }
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 75vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 60vh;
    }
    #segmentos .carousel-inner{
        height: 60vh;
    }
    #segmentos .img-container{
        width: 25%;
    }
    #segmentos h1{
        font-size: 1.6rem;
    }
    #section-matriculas{
        height: 85vh;
    }
    #section-matriculas .img-container{
        width: 55%;
    }
    #section-matriculas p{
        font-size: 1.4rem;
    }
    #section-matriculas #matriculas-btn{
        width: 30%;
        font-size: 1.2rem;
    }
    #section-equipe{
        height: 90vh;
    }
    #section-equipe p{
        font-size: 1.2rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.2rem;
    }
    #section-parceiros{
        height: 50vh;
    }
    #section-parceiros p{
        padding: 0 45rem;
    }
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.2rem;
    }
    #section-loc-h2{
        font-size: 2.6rem;
    }
    #section-loc-p{
        font-size: 1.8rem;
    }
    .footer-title{
        font-size: 1.4rem;
    }
    .footer-text{
        font-size: 1rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .9rem;
    }
}
    





@media (min-width:1800px) and (max-width:2099px){
     	/*1950*/
         .navbar-collapse{
            padding-right: 3rem;
        }
        #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 75vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 60vh;
    }
    #segmentos .carousel-inner{
        height: 60vh;
    }
    #segmentos .img-container{
        width: 22%;
    }
    #segmentos h1{
        font-size: 1.4rem;
    }
    #section-matriculas{
        height: 80vh;
    }
    #section-matriculas .img-container{
        width: 60%;
    }
    #section-matriculas p{
        font-size: 1.4rem;
    }
    #section-matriculas #matriculas-btn{
        width: 35%;
        font-size: 1.2rem;
    }
    #section-equipe{
        height: 90vh;
    }
    #section-equipe p{
        font-size: 1.2rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 25rem;
    }
    #section-parceiros{
        height: 50vh;
    }
    #section-parceiros p{
        padding: 0 35rem;
        font-size: 1.2rem;
    }
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.2rem;
    }
    #section-loc-h2{
        font-size: 2.2rem;
    }
    #section-loc-p{
        font-size: 1.6rem;
    }
    .footer-title{
        font-size: 1.2rem;
    }
    .footer-text{
        font-size: .8rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .7rem;
    }
}





@media (min-width:1500px) and (max-width:1799px){
     	/*1650*/
    .navbar-collapse{
        padding-right: 3rem;
    }
    #section-nav{
    height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 75vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 60vh;
    }
    #segmentos .carousel-inner{
        height: 60vh;
    }
    #segmentos .img-container{
        width: 22%;
    }
    #segmentos h1{
        font-size: 1.4rem;
    }
    #section-matriculas{
        height: 70vh;
    }
    #section-matriculas .img-container{
        width: 60%;
    }
    #section-matriculas p{
        font-size: 1.4rem;
    }
    #section-matriculas #matriculas-btn{
        width: 40%;
        font-size: 1.2rem;
    }
    #section-equipe{
        height: 95vh;
    }
    #section-equipe p{
        padding: 4rem 2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos p{
        padding: 0 18rem;
    }
    #section-parceiros{
        height: 80vh;
    }
    #section-parceiros p{
        padding: 0 4rem;
    }
    #section-parceiros{
        height: 50vh;
    }
    #section-parceiros p{
        padding: 0 25rem;
        font-size: 1.2rem;
    }
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.2rem;
    }
    #section-loc-h2{
        font-size: 2.2;
    }
    #section-loc-p{
        font-size: 1.6rem;
    }
    .footer-title{
        font-size: 1.2rem;
    }
    .footer-text{
        font-size: .8rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .7rem;
    }
}





@media (min-width:1200px) and (max-width:1499px){
  	/*1350*/
      .navbar-collapse{
        padding-right: 3rem;
    }
      #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 70vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 55vh;
    }
    #segmentos .carousel-inner{
        height: 55vh;
    }
    #segmentos .img-container{
        width: 20%;
    }
    #segmentos h1{
        font-size: 1.4rem;
    }
    #section-matriculas{
        height: 70vh;
    }
    #section-matriculas .img-container{
        width: 65%;
    }
    #section-matriculas p{
        font-size: 1.4rem;
    }
    #section-matriculas #matriculas-btn{
        width: 40%;
        font-size: 1.2rem;
    }
    #section-equipe{
        height: 95vh;
    }
    #section-equipe p{
        padding: 4rem 2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos p{
        padding: 0 10rem;
    }
    #section-parceiros{
        height: 50vh;
    }
    #section-parceiros p{
        padding: 0 15rem;
    }
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.2rem;
    }
    #section-loc-p{
        font-size: 1.2rem;
    }
    .footer-title{
        font-size: 1rem;
    }
    .footer-text{
        font-size: .7rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .5rem;
    }
}





@media (min-width:991px) and (max-width:1199px){
  	/*1050*/
      .navbar-collapse{
        padding-right: 1rem;
    }
      #section-nav{
          height: 70vh;
      }
      #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 65%;
        height: 10%;
        font-size: 1.2rem;
      }
      #section-segmentos{
        height: 70vh;
    }
    .segmentos-title{
        height: 10vh;
    }
    #segmentos{
        height: 50vh;
    }
    #segmentos .carousel-inner{
        height: 50vh;
    }
    #segmentos .img-container{
        width: 22%;
    }
    #segmentos h1{
        font-size: 1.4rem;
    }
    #section-matriculas{
        height: 70vh;
    }
    #section-matriculas .img-container{
        width: 70%;
    }
    #section-matriculas #matriculas-btn{
        width: 40%;
    }
    #section-equipe{
        height: 95vh;
    }
    #section-equipe p{
        padding: 4rem 2rem;
    }
    #section-formandos{
        height: 85vh;
    }
    #section-formandos p{
        padding: 0 5rem;
    }
    #section-parceiros{
        height: 50vh;
    }
    #section-parceiros p{
        padding: 0 10rem;
    }
    #section-depoimentos{
        height: 60vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.2rem;
    }
    .footer-title{
        font-size: 1rem;
    }
    .footer-text{
        font-size: .7rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .5rem;
    }
    
}





@media (min-width:600px) and (max-width:990px){
    	/*750*/
        #section-nav{
            height: 100vh;
        }
        #section-nav .img-container{
            width: 25%;
        }
        #section-nav h1{
            width: 40%;
            height: 10%;
            font-size: 1.2rem;
        }
        #section-segmentos{
            height: 60vh;
        }
        .segmentos-title{
            height: 10vh;
        }
        #segmentos{
            height: 40vh;
        }
        #segmentos .carousel-inner{
            height: 40vh;
        }
        #segmentos .img-container{
            width: 30%;
        }
        #segmentos h1{
            font-size: 1.2rem;
        }
        #section-matriculas{
            height: 50vh;
        }
        #section-matriculas .img-container{
            width: 80%;
        }
        #section-matriculas #matriculas-btn{
            width: 50%;
        }
        #section-equipe{
            height: 95vh;
        }
        #section-equipe p{
            padding: 4rem 2rem;
        }
        #section-formandos{
            height: 85vh;
        }
        #section-formandos p{
            padding: 0 5rem;
        }
        #section-parceiros{
            height: 60vh;
        }
        #section-parceiros p{
            padding: 0 4rem;
        }
        #section-depoimentos{
            height: 60vh;
        }
        #section-depoimentos #depoimentos{
            height: 50vh;
        }
        .footer-title{
            font-size: 1rem;
        }
        .footer-text{
            font-size: .7rem;
        }
        #footer-text-instituto{
            margin: 0 auto;
        }
        .footer-text-copy{
            font-size: .5rem;
        }
}





@media (min-width:300px) and (max-width:599px){
    	/*450*/
        #section-nav{
            height: 100vh;
        }
        #section-nav .img-container{
            width: 25%;
        }
        #section-nav h1{
            width: 100%;
            height: 10%;
            font-size: 1.2rem;
        }
        #section-segmentos{
            height: 60vh;
        }
        .segmentos-title{
            height: 10vh;
        }
        #segmentos{
            height: 40vh;
        }
        #segmentos .carousel-inner{
            height: 40vh;
        }
        #segmentos .img-container{
            width: 40%;
        }
        #segmentos h1{
            font-size: 1rem;
        }
        #section-matriculas{
            height: 50vh;
        }
        #section-matriculas .img-container{
            width: 100%;
        }
        #section-matriculas #matriculas-btn{
            width: 75%;
        }
        #section-equipe{
            height: 100vh;
        }
        #section-equipe p{
            padding-top: 5rem;
        }
        #section-formandos{
            height: 85vh;
        }
        #section-formandos p{
            padding: 0 1.2rem;
            font-size: .8rem;
        }
        #section-parceiros{
            height: 120vh;
        }
        #section-parceiros p{
            padding: 0 1rem;
        }
        #section-depoimentos{
            height: 60vh;
        }
        #section-depoimentos #depoimentos{
            height: 50vh;
        }
        #section-loc{
            height: 50vh;
        }
        .footer-title{
            font-size: 1.2rem;
        }
        .footer-text{
            font-size: .7rem;
        }
        .footer-text-copy{
            font-size: .5rem;
        }
}





@media (min-width:0px) and (max-width:299px){
   	/*150*/
       #section-nav{
        height: 100vh;
    }
    #section-nav .img-container{
        width: 25%;
    }
    #section-nav h1{
        width: 40%;
        height: 10%;
        font-size: 1.2rem;
    }
}