@font-face {
    font-family: 'index';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
*{
    font-family: 'index';
   /*outline: 1px solid #f00 !important;*/
}
body::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: #fce42e;
    border-radius: 10px;
}
.hidden{
    display: none;
}
.nav-link{
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.507);
    transition: .1s;
}
.nav-link.active{
    border-radius: 2px;
    border-bottom: 2px solid yellow;
}
.footer-link{
    transition: .1s;
}
.footer-link:hover{
    transform: scale(1.1);
}
.nav-link:hover{
    color: #fce42e;
    
}
.nav-link-social:hover{
    transform: scale(1.1);
}
#nav-li-matricula{
    background-color: #fce42e;
    color: #0556a9;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.24);
    transition: .1s;
    width: fit-content;
    text-shadow: none;
}
#nav-li-matricula:hover{
    background-color: white;
    transform: translateY(-3px);
}
.default-btn{
    background-color: #0556a9;
    color: White;
    border: none;
    font-size: .8rem;
    transition: .2s;
}
.default-btn:hover{
    transform: translateY(-3px);
    background-color: #b0d5fc;
    color: #0556a9;
}
#nav-li-a-matricula{
    color: #0556a9;
}

#section-nav  h1{
    color: rgb(91,79,53);
    font-size: 1rem;
}
.img-container-hover{
    transition: .3s;
}
.img-container-hover:hover{
    transform: scale(1.1);
}
.background-pattern{
    background-image: url(../img/backgrounds/Novo\ BG\ Sem\ Cor.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99.7vw;
    position: absolute;
    z-index: 1;
}
h1{
    color: rgb(91,79,53);
    text-shadow: 1px 1px 3px rgba(68, 59, 39, 0.575);
}
h3{
    color: rgb(91,79,53);
    text-shadow: 1px 1px 3px rgba(68, 59, 39, 0.575);
}
































@media (min-width:2700px) and (max-width:3000px){
	/*2850*/
  



    /*SECTION-NAV*/
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 70%;
      }
      #section-nav h1{
        width: 100%;
        height: 10%;
        font-size: 1.8rem;
      }
      


    /*SECTION-SEG*/
      #section-segmentos{
        height: 75vh;
    }
    #section-segmentos h1{
        font-size: 5rem;
    }
    #section-segmentos img{
        width: 60%;
    }
    #section-segmentos p{
        font-size: 2.5rem;
    }
    



    /*SECTION-MATRICULA*/
    #section-matriculas{
        height: 75vh;
    }
    
    #section-matriculas .img-container{
        width: 50%;
    }
    #section-matriculas h1{
        font-size: 5rem;
    }
    #section-matriculas p{
        font-size: 1.8rem;
    }
    #section-matriculas #matriculas-btn{
        width: 15%;
        font-size: 2rem;
    }




/*SECTION-EQUIPE*/
    #section-equipe{
        height: 90vh;
    }
    #section-equipe h1{
        font-size: 5rem;
       
    }
    #section-equipe p{
        font-size: 2.4rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 2rem;
    }
    #section-equipe img{
        width: 75%;
    }
    



/*SECTION-FORMANDOS*/
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.4rem;
    }


/*SECTION-PARCEIROS*/
    #section-parceiros{
        height: 90vh;
    }
    #section-parceiros h1{
        font-size: 5rem;
        padding: 0 55rem;
    }
    #section-parceiros p{
        padding: 0 55rem;
        font-size: 1.9rem;
    }
    #section-parceiros img{
        width: 90%;
    }


/*SECTION-DEPOIMENTOS*/
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.4rem;
    }


/*SECTION-LOCALIZAÇÃO*/
    #section-loc-h1{
        font-size: 5rem;
    }
    #section-loc-h2{
        font-size: 3rem;
        font-weight: bold;
    }
    #section-loc-p{
        font-size: 2rem;
    }
       



/*SECTION-FOOTER*/
    .footer-title{
        font-size: 2rem;
        color: white;
    }
    .footer-text{
        font-size: 1.3rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: 1.2rem;
        color: white;
    }
    
}






























@media (min-width:2400px) and (max-width:2699px){
	/*2550*/
  



    /*SECTION-NAV*/
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 70%;
      }
      #section-nav h1{
        width: 100%;
        height: 10%;
        font-size: 1.8rem;
      }
      


    /*SECTION-SEG*/
      #section-segmentos{
        height: 75vh;
    }
    #section-segmentos h1{
        font-size: 5rem;
    }
    #section-segmentos img{
        width: 60%;
    }
    #section-segmentos p{
        font-size: 2rem;
    }
    



    /*SECTION-MATRICULA*/
    #section-matriculas{
        height: 75vh;
    }
    
    #section-matriculas .img-container{
        width: 50%;
    }
    #section-matriculas h1{
        font-size: 5rem;
    }
    #section-matriculas p{
        font-size: 1.8rem;
        width: 75%;
    }
    #section-matriculas #matriculas-btn{
        width: 15%;
        font-size: 2rem;
    }




/*SECTION-EQUIPE*/
    #section-equipe{
        height: 90vh;
    }
    #section-equipe h1{
        font-size: 5rem;
       
    }
    #section-equipe p{
        font-size: 2rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.8rem;
    }
    #section-equipe img{
        width: 72%;
    }
    



/*SECTION-FORMANDOS*/
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.4rem;
    }


/*SECTION-PARCEIROS*/
    #section-parceiros{
        height: 95vh;
    }
    #section-parceiros h1{
        font-size: 5rem;
        padding: 0 55rem;
    }
    #section-parceiros p{
        padding: 0 55rem;
        font-size: 1.9rem;
    }
    #section-parceiros img{
        width: 90%;
    }


/*SECTION-DEPOIMENTOS*/
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.4rem;
    }


/*SECTION-LOCALIZAÇÃO*/
    #section-loc-h1{
        font-size: 5rem;
    }
    #section-loc-h2{
        font-size: 3rem;
        font-weight: bold;
    }
    #section-loc-p{
        font-size: 2rem;
    }
       



/*SECTION-FOOTER*/
    .footer-title{
        font-size: 2rem;
        color: white;
    }
    .footer-text{
        font-size: 1.3rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: 1.2rem;
        color: white;
    }
    
}





































@media (min-width:2100px) and (max-width:2399px){
	/*2250*/
   



    /*SECTION-NAV*/
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 60%;
      }
      #section-nav h1{
        width: 100%;
        height: 10%;
        font-size: 1.6rem;
      }
      


    /*SECTION-SEG*/
      #section-segmentos{
        height: 75vh;
    }
    #section-segmentos h1{
        font-size: 4.5rem;
    }
    #section-segmentos img{
        width: 52%;
    }
    #section-segmentos p{
        font-size: 2rem;
    }
    



    /*SECTION-MATRICULA*/
    #section-matriculas{
        height: 75vh;
    }
    
    #section-matriculas .img-container{
        width: 45%;
    }
    #section-matriculas h1{
        font-size: 4.5rem;
    }
    #section-matriculas p{
        font-size: 1.5rem;
        width: 75%;
    }
    #section-matriculas #matriculas-btn{
        width: 15%;
        font-size: 1.6rem;
    }




/*SECTION-EQUIPE*/
    #section-equipe{
        height: 95vh;
    }
    #section-equipe h1{
        font-size: 4.5rem;
       
    }
    #section-equipe p{
        font-size: 1.6rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.8rem;
    }
    #section-equipe img{
        width: 60%;
    }
    



/*SECTION-FORMANDOS*/
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.4rem;
    }


/*SECTION-PARCEIROS*/
    #section-parceiros{
        height: 90vh;
    }
    #section-parceiros h1{
        font-size: 3.5rem;
        padding: 0 55rem;
    }
    #section-parceiros p{
        padding: 0 55rem;
        font-size: 1.6rem;
    }
    #section-parceiros img{
        width: 60%;
    }


/*SECTION-DEPOIMENTOS*/
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.4rem;
    }


/*SECTION-LOCALIZAÇÃO*/
    #section-loc-h1{
        font-size: 4.5rem;
    }
    #section-loc-h2{
        font-size: 3rem;
        font-weight: bold;
    }
    #section-loc-p{
        font-size: 2rem;
    }
       



/*SECTION-FOOTER*/
    .footer-title{
        font-size: 2rem;
        color: white;
    }
    .footer-text{
        font-size: 1.3rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: 1.2rem;
        color: white;
    }
}
    



































@media (min-width:1800px) and (max-width:2099px){
     	/*1950*/
      
    
    
    
        /*SECTION-NAV*/
        #section-nav{
            height: 80vh;
        }
        #section-nav .img-container{
            width: 60%;
          }
          #section-nav h1{
            width: 100%;
            height: 10%;
            font-size: 1.4rem;
          }
          
    
    
        /*SECTION-SEG*/
          #section-segmentos{
            height: 80vh;
        }
        #section-segmentos h1{
            font-size: 4.2rem;
        }
        #section-segmentos img{
            width: 52%;
        }
        #section-segmentos p{
            font-size: 2rem;
        }
        
    
    
    
        /*SECTION-MATRICULA*/
        #section-matriculas{
            height: 95vh;
        }
        
        #section-matriculas .img-container{
            width: 55%;
        }
        #section-matriculas h1{
            font-size: 4.2rem;
        }
        #section-matriculas p{
            font-size: 1.5rem;
            width: 75%;
        }
        #section-matriculas #matriculas-btn{
            width: 15%;
            font-size: 1.6rem;
        }
    
    
    
    
    /*SECTION-EQUIPE*/
        #section-equipe{
            height: 100vh;
        }
        #section-equipe h1{
            font-size: 4.2rem;
           
        }
        #section-equipe p{
            font-size: 1.6rem;
            padding: 4rem 2rem;
        }
        #section-equipe .equipe-btn-container{
            padding-top: 3rem;
        }
        #section-equipe #equipe-btn{
            font-size: 1.4rem;
        }
        #section-equipe img{
            width: 55%;
        }
        
    
    
    
    /*SECTION-FORMANDOS*/
        #section-formandos{
            height: 85vh;
        }
        #section-formandos h1{
            padding-bottom: 2rem;
        }
        #section-formandos p{
            padding: 5rem 45rem;
            font-size: 1.4rem;
        }
    
    
    /*SECTION-PARCEIROS*/
        #section-parceiros{
            height: 95vh;
        }
        #section-parceiros h1{
            font-size: 3.5rem;
            padding: 0 30rem;
        }
        #section-parceiros p{
            padding: 0 55rem;
            font-size: 1.6rem;
        }
        #section-parceiros img{
            width: 60%;
        }
    
    
    /*SECTION-DEPOIMENTOS*/
        #section-depoimentos{
            height: 50vh;
        }
        #section-depoimentos #depoimentos{
            height: 50vh;
        }
        #section-depoimentos p{
            font-size: 1.4rem;
        }
    
    
    /*SECTION-LOCALIZAÇÃO*/
        #section-loc-h1{
            font-size: 4.2rem;
        }
        #section-loc-h2{
            font-size: 3rem;
            font-weight: bold;
        }
        #section-loc-p{
            font-size: 2rem;
        }
           
    
    
    
    /*SECTION-FOOTER*/
        .footer-title{
            font-size: 2rem;
            color: white;
        }
        .footer-text{
            font-size: 1.3rem;
        }
        #footer-text-instituto{
            margin: 0 auto;
        }
        .footer-text-copy{
            font-size: 1.2rem;
            color: white;
        }
        .social-footer{
            font-size: 2.2rem;
        }
}




























@media (min-width:1500px) and (max-width:1799px){
     	/*1650*/
      
    
    
    
        /*SECTION-NAV*/
        #section-nav{
            height: 80vh;
        }
        #section-nav .img-container{
            width: 55%;
          }
          #section-nav h1{
            width: 100%;
            height: 10%;
            font-size: 1.4rem;
          }
          
    
    
        /*SECTION-SEG*/
          #section-segmentos{
            height: 80vh;
        }
        #section-segmentos h1{
            font-size: 4.2rem;
        }
        #section-segmentos img{
            width: 52%;
        }
        #section-segmentos p{
            font-size: 2rem;
        }
        
    
    
    
        /*SECTION-MATRICULA*/
        #section-matriculas{
            height: 95vh;
        }
        
        #section-matriculas .img-container{
            width: 55%;
        }
        #section-matriculas h1{
            font-size: 4.2rem;
        }
        #section-matriculas p{
            font-size: 1.5rem;
            width: 75%;
        }
        #section-matriculas #matriculas-btn{
            width: 15%;
            font-size: 1.6rem;
        }
    
    
    
    
    /*SECTION-EQUIPE*/
        #section-equipe{
            height: 100vh;
        }
        #section-equipe h1{
            font-size: 4.2rem;
           
        }
        #section-equipe p{
            font-size: 1.6rem;
            padding: 4rem 2rem;
        }
        #section-equipe .equipe-btn-container{
            padding-top: 3rem;
        }
        #section-equipe #equipe-btn{
            font-size: 1.4rem;
        }
        #section-equipe img{
            width: 55%;
        }
        
    
    
    
    /*SECTION-FORMANDOS*/
        #section-formandos{
            height: 85vh;
        }
        #section-formandos h1{
            padding-bottom: 2rem;
        }
        #section-formandos p{
            padding: 5rem 45rem;
            font-size: 1.4rem;
        }
    
    
    /*SECTION-PARCEIROS*/
        #section-parceiros{
            height: 95vh;
        }
        #section-parceiros h1{
            font-size: 3.5rem;
            padding: 0 30rem;
        }
        #section-parceiros p{
            padding: 0 55rem;
            font-size: 1.6rem;
        }
        #section-parceiros img{
            width: 60%;
        }
    
    
    /*SECTION-DEPOIMENTOS*/
        #section-depoimentos{
            height: 50vh;
        }
        #section-depoimentos #depoimentos{
            height: 50vh;
        }
        #section-depoimentos p{
            font-size: 1.4rem;
        }
    
    
    /*SECTION-LOCALIZAÇÃO*/
        #section-loc-h1{
            font-size: 4.2rem;
        }
        #section-loc-h2{
            font-size: 3rem;
            font-weight: bold;
        }
        #section-loc-p{
            font-size: 2rem;
        }
           
    
    
    
    /*SECTION-FOOTER*/
        .footer-title{
            font-size: 2rem;
            color: white;
        }
        .footer-text{
            font-size: 1.3rem;
        }
        #footer-text-instituto{
            margin: 0 auto;
        }
        .footer-text-copy{
            font-size: 1.2rem;
            color: white;
        }
        .social-footer{
            font-size: 2.2rem;
        }
}


























@media (min-width:1200px) and (max-width:1499px){
  	/*1350*/
   



    /*SECTION-NAV*/
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 55%;
      }
      #section-nav h1{
        width: 100%;
        height: 10%;
        font-size: 1.2rem;
      }
      


    /*SECTION-SEG*/
      #section-segmentos{
        height: 80vh;
    }
    #section-segmentos h1{
        font-size: 4rem;
    }
    #section-segmentos img{
        width: 52%;
    }
    #section-segmentos p{
        font-size: 1.6rem;
    }
    



    /*SECTION-MATRICULA*/
    #section-matriculas{
        height: 100vh;
    }
    
    #section-matriculas .img-container{
        width: 60%;
    }
    #section-matriculas h1{
        font-size: 3rem;
    }
    #section-matriculas p{
        font-size: 1.2rem;
        width: 75%;
    }
    #section-matriculas #matriculas-btn{
        width: 15%;
        font-size: 1.2rem;
    }




/*SECTION-EQUIPE*/
    #section-equipe{
        height: 100vh;
    }
    #section-equipe h1{
        font-size: 3rem;
       
    }
    #section-equipe p{
        font-size: 1.2rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.2rem;
    }
    #section-equipe img{
        width: 52%;
    }
    



/*SECTION-FORMANDOS*/
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.4rem;
    }


/*SECTION-PARCEIROS*/
    #section-parceiros{
        height: 80vh;
    }
    #section-parceiros h1{
        font-size: 3rem;
        padding: 0 20rem;
    }
    #section-parceiros p{
        padding: 0 55rem;
        font-size: 1.2rem;
    }
    #section-parceiros img{
        width: 55%;
    }


/*SECTION-DEPOIMENTOS*/
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.4rem;
    }


/*SECTION-LOCALIZAÇÃO*/
    #section-loc-h1{
        font-size: 3rem;
    }
    #section-loc-h2{
        font-size: 2rem;
        font-weight: bold;
    }
    #section-loc-p{
        font-size: 1.6rem;
    }
       



/*SECTION-FOOTER*/
    .footer-title{
        font-size: 1.6rem;
        color: white;
    }
    .footer-text{
        font-size: 1rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: 1rem;
        color: white;
    }
    .social-footer{
        font-size: 1.4rem;
    }
}



























@media (min-width:991px) and (max-width:1199px){
  	/*1050*/




    /*SECTION-NAV*/
    #section-nav{
        height: 80vh;
    }
    #section-nav .img-container{
        width: 50%;
      }
      #section-nav h1{
        width: 100%;
        height: 10%;
        font-size: 0.8rem;
      }
      


    /*SECTION-SEG*/
      #section-segmentos{
        height: 75vh;
    }
    #section-segmentos h1{
        font-size: 3rem;
    }
    #section-segmentos img{
        width: 60%;
    }
    #section-segmentos p{
        font-size: 1.2rem;
    }
    



    /*SECTION-MATRICULA*/
    #section-matriculas{
        height: 100vh;
    }
    
    #section-matriculas .img-container{
        width: 70%;
    }
    #section-matriculas h1{
        font-size: 3rem;
    }
    #section-matriculas p{
        font-size: 1rem;
        width: 75%;
    }
    #section-matriculas #matriculas-btn{
        width: 15%;
        font-size: 1.2rem;
    }




/*SECTION-EQUIPE*/
    #section-equipe{
        height: 95vh;
    }
    #section-equipe h1{
        font-size: 2.8rem;
       
    }
    #section-equipe p{
        font-size: 1.2rem;
        padding: 4rem 2rem;
    }
    #section-equipe .equipe-btn-container{
        padding-top: 3rem;
    }
    #section-equipe #equipe-btn{
        font-size: 1.2rem;
    }
    #section-equipe img{
        width: 58%;
    }
    



/*SECTION-FORMANDOS*/
    #section-formandos{
        height: 85vh;
    }
    #section-formandos h1{
        padding-bottom: 2rem;
    }
    #section-formandos p{
        padding: 5rem 45rem;
        font-size: 1.4rem;
    }


/*SECTION-PARCEIROS*/
    #section-parceiros{
        height: 80vh;
    }
    #section-parceiros h1{
        font-size: 2.8rem;
        padding: 0 20rem;
    }
    #section-parceiros p{
        padding: 0 55rem;
        font-size: 1.2rem;
    }
    #section-parceiros img{
        width: 55%;
    }


/*SECTION-DEPOIMENTOS*/
    #section-depoimentos{
        height: 50vh;
    }
    #section-depoimentos #depoimentos{
        height: 50vh;
    }
    #section-depoimentos p{
        font-size: 1.4rem;
    }


/*SECTION-LOCALIZAÇÃO*/
    #section-loc-h1{
        font-size: 2.8rem;
    }
    #section-loc-h2{
        font-size: 2rem;
        font-weight: bold;
    }
    #section-loc-p{
        font-size: 1.4rem;
    }
       



/*SECTION-FOOTER*/
    .footer-title{
        font-size: 1.6rem;
        color: white;
    }
    .footer-text{
        font-size: .6rem;
    }
    #footer-text-instituto{
        margin: 0 auto;
    }
    .footer-text-copy{
        font-size: .6rem;
        color: white;
    }
    .social-footer{
        font-size: 1.0rem;
    }
}





























@media (min-width:600px) and (max-width:990px){
    	/*750*/
       
    
    
    
        /*SECTION-NAV*/
        #section-nav{
            height: 96vh;
        }
        #section-nav .img-container{
            width: 30%;
          }
          #section-nav h1{
            width: 100%;
            height: 10%;
            font-size: 1.2rem;
          }
          
    
    
        /*SECTION-SEG*/
          #section-segmentos{
            height: 90vh;
        }
        #section-segmentos h1{
            font-size: 3rem;
        }
        #section-segmentos img{
            width: 60%;
        }
        #section-segmentos p{
            font-size: 1.2rem;
        }
        
    
    
    
        /*SECTION-MATRICULA*/
        #section-matriculas{
            height: 125vh;
        }
        
        #section-matriculas .img-container{
            width: 95%;
            margin-top: 25%;
        }
        #section-matriculas h1{
            font-size: 3rem;
        }
        #section-matriculas p{
            font-size: 1rem;
            width: 100%;
        }
        #section-matriculas #matriculas-btn{
            width: 15%;
            font-size: 1.2rem;
            width: 30%;
        }
    
    
    
    
    /*SECTION-EQUIPE*/
        #section-equipe{
            height: 98vh;
        }
        #section-equipe h1{
            font-size: 2.8rem;
           
        }
        #section-equipe p{
            font-size: 1.2rem;
            padding: 4rem 2rem;
        }
        #section-equipe .equipe-btn-container{
            padding-top: 3rem;
        }
        #section-equipe #equipe-btn{
            font-size: 1.2rem;
        }
        #section-equipe img{
            width: 95%;
        }
        
    
    
    
    /*SECTION-FORMANDOS*/
        #section-formandos{
            height: 85vh;
        }
        #section-formandos h1{
            padding-bottom: 2rem;
        }
        #section-formandos p{
            padding: 5rem 45rem;
            font-size: 1.4rem;
        }
    
    
    /*SECTION-PARCEIROS*/
        #section-parceiros{
            height: 80vh;
        }
        #section-parceiros h1{
            font-size: 2.8rem;
            padding: 0 5rem;
        }
        #section-parceiros p{
            padding: 0 55rem;
            font-size: 1.2rem;
            width: 100%;
        }
        #section-parceiros img{
            width: 85%;
        }
    
    
    /*SECTION-DEPOIMENTOS*/
        #section-depoimentos{
            height: 50vh;
        }
        #section-depoimentos #depoimentos{
            height: 50vh;
        }
        #section-depoimentos p{
            font-size: 1.4rem;
        }
    
    
    /*SECTION-LOCALIZAÇÃO*/
        #section-loc-h1{
            font-size: 2.8rem;
        }
        #section-loc-h2{
            font-size: 2rem;
            font-weight: bold;
        }
        #section-loc-p{
            font-size: 1.4rem;
        }
           
    
    
    
    /*SECTION-FOOTER*/
        .footer-title{
            font-size: 1rem;
            color: white;
        }
        .footer-text{
            font-size: .4rem;
        }
        #footer-text-instituto{
            margin: 0 auto;
        }
        .footer-text-copy{
            font-size: .6rem;
            color: white;
        }
        .social-footer{
            font-size: 1.0rem;
        }
}


























@media (min-width:300px) and (max-width:599px){
    	/*450*/
       
    
    
    
        /*SECTION-NAV*/
        #section-nav{
            height: 98vh;
        }
        #section-nav .img-container{
            width: 30%;
          }
          #section-nav h1{
            width: 100%;
            height: 10%;
            font-size: 1rem;
          }
          
    
    
        /*SECTION-SEG*/
          #section-segmentos{
            height: 100vh;
        }
        #section-segmentos h1{
            font-size: 2rem;
        }
        #section-segmentos img{
            width: 65%;
        }
        #section-segmentos p{
            font-size: .8rem;
        }
        
    
    
    
        /*SECTION-MATRICULA*/
        #section-matriculas{
            height: 130vh;
        }
        
        #section-matriculas .img-container{
            width: 92%;
            margin-top: 25%;
            margin-left: 15%;
        }
        #section-matriculas h1{
            font-size: 2rem;
            padding-left: 8%;
        }
        #section-matriculas p{
            font-size: .8rem;
            width: 120%;
        }
        #section-matriculas #matriculas-btn{
            width: 15%;
            font-size: .8rem;
            width: 38%;
            margin-left: 12%;
        }
    
    
    
    
    /*SECTION-EQUIPE*/
        #section-equipe{
            height: 110vh;
        }
        #section-equipe h1{
            font-size: 2rem;
           
        }
        #section-equipe p{
            font-size: .8rem;
            padding: 4rem 2rem;
        }
        #section-equipe .equipe-btn-container{
            padding-top: 3rem;
        }
        #section-equipe #equipe-btn{
            font-size: .8rem;
        }
        #section-equipe img{
            width: 95%;
        }
        
    
    
    
    /*SECTION-FORMANDOS*/
        #section-formandos{
            height: 85vh;
        }
        #section-formandos h1{
            padding-bottom: 2rem;
        }
        #section-formandos p{
            padding: 5rem 45rem;
            font-size: 1.4rem;
        }
    
    
    /*SECTION-PARCEIROS*/
        #section-parceiros{
            height: 80vh;
        }
        #section-parceiros h1{
            font-size: 2rem;
            padding: 0 5rem;
        }
        #section-parceiros p{
            padding: 0 55rem;
            font-size: .8rem;
            width: 100%;
        }
        #section-parceiros img{
            width: 85%;
        }
    
    
    /*SECTION-DEPOIMENTOS*/
        #section-depoimentos{
            height: 50vh;
        }
        #section-depoimentos #depoimentos{
            height: 50vh;
        }
        #section-depoimentos p{
            font-size: 1.4rem;
        }
    
    
    /*SECTION-LOCALIZAÇÃO*/
        #section-loc-h1{
            font-size: 2rem;
        }
        #section-loc-h2{
            font-size: 1.4rem;
            font-weight: bold;
        }
        #section-loc-p{
            font-size: .8rem;
        }
           
    
    
    
    /*SECTION-FOOTER*/
        .footer-title{
            font-size: 1rem;
            color: white;
        }
        .footer-text{
            font-size: .6rem;
        }
        #footer-text-instituto{
            margin: 0 auto;
        }
        .footer-text-copy{
            font-size: .6rem;
            color: white;
        }
        .social-footer{
            font-size: 1.0rem;
        }
}
