@font-face {
    font-family: 'modal';
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
.container-modal.visible{
    font-family: 'modal', sans-serif;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0,.5);
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
}
.container-modal.invisible{
    display: none;
}
.modal{
    background-image: url(../img/modal4.svg);
    background-position:center;
    background-size:100%;
    background-repeat:no-repeat;
    min-width: 300px;
    min-height:320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.fechar-modal{
    background-color: #fae32c;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 3.6rem;
    color: #1a519a;
    position: absolute;
    margin-left: 90%;
    margin-top: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}
.fechar-modal:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.container-modal-call-interno{
    background-color: #1a519a;
    margin-top: 65%;
    margin-left: 18%;
    width: 65%;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    
}
.container-modal-call-interno:hover .call-saiba-mais{
    transform: translateY(-3px);
}
.container-modal-call-interno:hover{
    background-color: #fae32c;
}
.container-modal-call-interno:hover .call-whatapp{
    color: black;
}
.call-whatapp{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.5rem;
    color: white;
}
.call-saiba-mais{
    width: 75%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: .8rem;
    box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.438);
    cursor: pointer;
    transition: .4s;
}







@media (min-width:2700px) and (max-width:3000px){
	/*2850*/
    html{
        font-size: 135%;
    }
    .modal{
        min-width: 520px;
        min-height: 540px;
    }
    .fechar-modal{
        font-size: 3rem;
    }
    .container-modal-call-interno{
        height: 55px;
    }l
    .call-whatapp{
        font-size: 1.4rem;
    }
    .call-saiba-mais{
        font-size: .6rem;
    }
}
@media (min-width:2400px) and (max-width:2699px){
	/*2550*/
    html{
        font-size: 120%;
    }
    .modal{
        min-width: 500px;
        min-height: 520px;
    }
    .fechar-modal{
        font-size: 3rem;
    }
    .container-modal-call-interno{
        height: 55px;
    }
    .call-whatapp{
        font-size: 1.6rem;
    }
    .call-saiba-mais{
        font-size: .6rem;
    }
}
@media (min-width:2100px) and (max-width:2399px){
	/*2250*/
    html{
        font-size: 105%;
    }
    .modal{
        min-width: 480px;
        min-height: 500px;
    }
    .fechar-modal{
        font-size: 3rem;
    }
    .container-modal-call-interno{
        height: 55px;
    }
    .call-whatapp{
        font-size: 1.6rem;
    }
    .call-saiba-mais{
        font-size: .6rem;
    }
}
@media (min-width:1800px) and (max-width:2099px){
    /*1950*/
    html{
        font-size: 90%;
    }
    .modal{
        min-width: 460px;
        min-height: 480px;
    }
    .fechar-modal{
        font-size: 3rem;
    }
    .container-modal-call-interno{
        height: 45px;
    }
    .call-whatapp{
        font-size: 2rem;
    }
    .call-saiba-mais{
        font-size: .7rem;
    }
}
@media (min-width:1500px) and (max-width:1799px){
    /*1650*/
    html{
         font-size: 85%;
    }
    .modal{
        min-width: 420px;
        min-height: 440px;
    }
    .fechar-modal{
        font-size: 3rem;
    }
    .container-modal-call-interno{

        height: 50px;
    }
    .call-whatapp{
        font-size: 2rem;
    }
    .call-saiba-mais{
        font-size: .7rem;
    }
}
@media (min-width:1200px) and (max-width:1499px){
  	/*1350*/
    html{
        font-size: 80%;
    }
    .modal{
        min-width: 400px;
        min-height: 420px;
    }
    .fechar-modal{
        font-size: 3rem;
    }
    .container-modal-call-interno{
        height: 45px;
    }
    .call-whatapp{
        font-size: 1.9rem;
    }
    .call-saiba-mais{
        font-size: .7rem;
    }
}
@media (min-width:900px) and (max-width:1199px){
  	/*1050*/
    html{
        font-size: 75%;
    }
    .modal{
        min-width: 380px;
        min-height: 400px;
    }
    .container-modal-call-interno{
        
        height: 45px;
    }
    .call-whatapp{
        font-size: 2rem;
    }
    .call-saiba-mais{
        font-size: .7rem;
    }
}
@media (min-width:600px) and (max-width:899px){
    /*750*/
    html{
        font-size: 65%;
    }
    .modal{
        min-width: 350px;
        min-height: 370px;
    }
    .call-whatapp{
        font-size: 2.1rem;
    }
    
}
@media (min-width:300px) and (max-width:599px){
    /*450*/
    html{
        font-size: 55%;
    }
    

}
@media (min-width:0px) and (max-width:299px){
   	/*150*/
    html{
        font-size: 5%;
    }
    
}
